:root {
	color-scheme: light dark;
}
[data-theme='system'] {
	background-color: var(--col-dark);
	color-scheme: dark;
}
[data-theme='light'] {
	color-scheme: light;
}
[data-theme='dark'] {
	color-scheme: dark;
}